APP_ENV=production
DEBUG=False
SECRET_KEY=genera-con-python-c-import-secrets-print-secrets-token-hex-32

SUPABASE_URL=https://xxx-prod.supabase.co
SUPABASE_KEY=eyJ...anon-key-prod...
SUPABASE_SERVICE_KEY=eyJ...service-role-key-prod...
SUPABASE_JWT_SECRET=tu-jwt-secret-prod