# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.venv/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# macOS
.DS_Store

# env
.env